<div class = "container">
    <div class ="row">
        <div class = "col-md-6">
        <div class ="card">
            <div class = "text-conter">
                <h1> Restro V2.0 </h1>
                <strong>Get  free memebership </strong><hr>
            </div>

            <form action ="">

                <div class ="form-group">
                    <div class ="mb-3">
                        <label for ="exampleName">Name</label>
                        <input type = "name" formControlName="Name" maxlength="20" class="form-control" placeholder="shivanshu rai">
                    </div>
                </div>

                <div class ="form-group">
                    <div class ="mb-3">
                        <label for ="exampleName">mobile</label>
                        <input type = "name" formControlName="Name" maxlength="20" class="form-control" placeholder="shivanshu rai">
                    </div>
                </div>

                <div class ="form-group">
                    <div class ="mb-3">
                        <label for ="exampleName">email</label>
                        <input type = "name" formControlName="Name" maxlength="20" class="form-control" placeholder="shivanshu rai">
                    </div>
                </div>

                <div class ="form-group">
                    <div class ="mb-3">
                        <label for ="exampleName">password</label>
                        <input type = "name" formControlName="Name" maxlength="20" class="form-control" placeholder="shivanshu rai">
                    </div>
                </div>


                <div class ="form-group">
                    <div class ="mb-3">
                        <label for ="exampleName">Name</label>
                        <input type = "name" formControlName="Name" maxlength="20" class="form-control" placeholder="shivanshu rai">
                    </div>
                </div>

            
                

            </form>
        </div>
    </div>
  </div>
</div>